.advantages {
  background-color: #f34235;
  padding: 80px 0;
  color: white; }
  .advantages .advantages__title {
    text-align: center; }
    .advantages .advantages__title h1 {
      margin-bottom: 55px;
      font-weight: 400;
      font-size: 2.3rem; }
  .advantages .advantages__subtitle {
    margin-bottom: 70px; }
    .advantages .advantages__subtitle h2 {
      text-align: center;
      font-weight: 700;
      font-size: 1.25; }
  .advantages .advantages__content .advantages__item {
    text-align: center;
    margin-bottom: 60px; }
    .advantages .advantages__content .advantages__item .advantages__item-number {
      background-color: #fff;
      color: #f34235;
      width: 100px;
      margin: 0 auto;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 15px; }
      .advantages .advantages__content .advantages__item .advantages__item-number p {
        font-size: 2.8rem;
        font-weight: 900;
        padding-top: 16%; }
    .advantages .advantages__content .advantages__item .advantages__item-title {
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 15px; }
    .advantages .advantages__content .advantages__item .advantages__item-text p {
      font-weight: 400;
      font-size: 1rem; }
