@media screen and (max-width: 1024px) {
  .how-it-works .how-it-works__text h2 {
    margin-bottom: 30px; } }
@media screen and (max-width: 768px) {
  .how-it-works .how-it-works__video {
    margin-bottom: 30px; }
  .how-it-works .how-it-works__text {
    margin-bottom: 65px; }
    .how-it-works .how-it-works__text h2, .how-it-works .how-it-works__text h3 {
      margin-bottom: 15px; } }
