@media screen and (max-width: 1024px) {
  .features {
    padding-bottom: 40px; }
    .features .features-img {
      top: 298px;
      width: 60%;
      top: 296px; }
      .features .features-img img {
        margin-left: 100px; }
    .features .features__item {
      margin-bottom: 10px; }
      .features .features__item .features__content_item h3 {
        margin-bottom: 5px; } }
@media screen and (max-width: 768px) {
  .features {
    padding: 40px 0; }
    .features .features__item {
      margin-bottom: 30px; }
    .features .features-img {
      display: none; }
    .features .features__title h1 {
      margin-bottom: 25px; } }
@media screen and (max-width: 376px) {
  .features .features__subtitle {
    margin-bottom: 35px; } }
