@media screen and (max-width: 426px) {
  .contacts .btn-top {
    right: 23px;
    bottom: 26px; } }
@media screen and (max-width: 376px) {
  .contacts .btn-top {
    right: 6px;
    bottom: 26px; } }
@media screen and (max-width: 321px) {
  .contacts .btn-top {
    right: 0px;
    bottom: 48px; } }
