@media screen and (max-width: 768px) {
  .faq .faq-acordion .faq-acordion-item {
    width: 100% !important;
    margin-bottom: 10px; } }
@media screen and (max-width: 425px) {
  .faq {
    padding: 45px; } }
@media screen and (max-width: 321px) {
  .faq .faq-acordion .faq-acordion-item .accordion {
    padding: 10px !important; } }
